@charset "utf-8";

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;
-moz-text-size-adjust: none;
-ms-text-size-adjust: none;
-webkit-text-size-adjust: none;
text-size-adjust: none;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section{display:block}
body{line-height:1}
a{text-decoration:none}
ol, ul{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
input[type=checkbox], input[type=radio]{vertical-align:middle;position:relative}
input[type=radio]{bottom:2px}
#accessibility, .skip, hr, legend, caption{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
.btn_comm{padding:0;margin:0;border:0;background:0;line-height:normal;cursor:pointer}


/** Layout - landscape **/
html{width:100%;height:100%;min-height:1px;max-height:999999px;-webkit-text-size-adjust:100% !important}
body{height:100%}
img{max-width:100%;height:auto}
#fWrap,
#fWrap a{color:#595959;font-size:15px}
#fWrap{width:720px;min-height:100%;margin:0 auto;background:#f3f3f3}

/* common */
#fWrap .notice_list{border:1px solid #d7d7d7;background:#fff}
#fWrap .notice_list li{padding:10px;border-bottom:1px solid #e5e5e5}
#fWrap .notice_list li:last-child{border:none}
#fWrap .notice_list li a{display:block;position:relative;padding-left:27px}
#fWrap .notice_list li a:after{display:block;content:'';clear:both}
#fWrap .notice_list .category{position:absolute;left:0;top:50%;width:20px;height:19px;margin-top:-11px;background-size:20px auto}
#fWrap .category.info{background-image:url(../images/info_img.png)}
#fWrap .category.maint{background-image:url(../images/maint_img.png)}
#fWrap .category.event{background-image:url(../images/event_img.png)}
#fWrap .category.letter{background-image:url(../images/letter_img.png)}
#fWrap .notice_list .date{float:right;min-width:33px;height:18px;padding-right:13px;color:#aeaeae;font-size:12px;line-height:17px;font-weight:bold;text-align:right;background:url(../images/bu-list.png) right 3px no-repeat;background-size:auto 10px;vertical-align:middle}
#fWrap .notice_list .text{overflow:hidden;display:block;float:left;width:570px;height:22px;line-height:21px;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle}
#fWrap .btn-type1{vertical-align:middle;display:inline-block;border:1px solid #969696;border-radius:3px;box-shadow:0 1px 1px #555;font-weight:bold;text-align:center;letter-spacing:-1px;opacity:0.8}
#fWrap .btn-type1.btn-top{display:none;position:fixed;bottom:30px;right:20px;min-width:18px;height:20px;padding:23px 9px 0 9px;background:#e6e6e6 url(../images/bu-top.png) center 9px no-repeat;background-size:13px auto}
#fWrap .btn-type1.btn-list{min-width:18px;height:43px;padding:0px 13px 0 23px;line-height:43px;background:#e6e6e6 url(../images/bu-list2.png) 10px 14px no-repeat;background-size:9px auto}

/* #main */
#main{position:relative;padding:20px 17px}
#main #notice{margin-bottom:7px}
#main #notice .notice_tit h2{padding-bottom:14px;font-weight:bold}
#main #notice .notice_tit .btn_more{position:absolute;right:20px;top:17px;padding:0 10px;border:1px solid #c3c3c3;border-radius:3px;background:#fff}
#main #notice .notice_tit .btn_more span{display:block;height:22px;padding-right:12px;line-height:1.56;letter-spacing:-1px;background:url(../images/bu-more.png) right 45% no-repeat;background-size:auto 45%}
#main #event li{padding:7px 0;border-top:1px solid #a2a2a2}
#main #event li.none{border:none}
#main #event li:last-of-type{margin-bottom:0}
#main #event li a{position:relative;display:block}
#main #event li a .date{display:none;overflow:hidden;position:absolute;right:17px;top:50%;width:74px;height:74px;margin-top:-37px;border-radius:60px;z-index:1}
#main #event li a .date .wrap_date{display:table-cell;width:100%;height:74px;color:#fff;font-size:12px;letter-spacing:0.3px;font-weight:bold;text-align:center;vertical-align:middle}
#main #event li a .date .text_due{display:block;padding-top:2px}
#main #event li a .date .text_ing{display:block;padding-top:3px}
#main #event li a .date .bu{display:none;height:16px;margin-bottom:2px;background:url(../images/bu-ing.gif) center bottom no-repeat;background-size:auto 12px}
#main #event li a .date .time{display:block;padding-top:1px;font-size:12px;font-weight:bold}
#main #event li a .date .time span.format{font-size:10px;font-weight:normal}
#main #event li.type_ing a .date,
#main #event li.type_due a .date{display:table}
#main #event li.type_ing a .date{background-color:#6596b4}
#main #event li.type_ing a .date .text_due{display:none}
#main #event li.type_ing a .date .bu{display:block}
#main #event li.type_due a .date{background-color:#6d7c83}
#main #event li.type_due a .date .text_ing{display:none}
#main #event li a .img{position:relative}
#main #event li .img .icon{display:none;position:absolute;left:0;top:0;width:55px;height:55px;background:url(../images/bg_icons.png) no-repeat;background-size:100% auto;z-index:2}
#main #event li.new .img .icon{display:block;background-position:left top}
#main #event li.event .img .icon{display:block;background-position:left -55px}
#main #event li.hot .img .icon{display:block;background-position:left -110px}
#main #event li.sale .img .icon{display:block;background-position:left bottom}

#main #letter{padding:20px 0 7px 0}
#main #letter .letter_tit h2{padding-bottom:14px;font-weight:bold}
#main #letter .letter_list{border:1px solid #d7d7d7;background:#fff}
#main #letter .letter_list li{padding:10px;border-bottom:1px solid #e5e5e5}
#main #letter .letter_list li:last-child{border:none}
#main #letter .letter_list li a{display:block;position:relative;padding-left:27px;background:url(../images/bu-list.png) right 3px no-repeat;background-size:auto 10px}
#main #letter .letter_list li a:after{display:block;content:'';clear:both}
#main #letter .letter_list .category{position:absolute;left:0;top:50%;width:20px;height:19px;margin-top:-11px;background-size:20px auto}
#main #letter .letter_list .text{overflow:hidden;display:block;float:left;width:570px;height:18px;line-height:17px;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle}

/* #noticeList */
#noticeList{padding:20px 17px}
#noticeList .btn_area{padding:20px 0 15px 0}
#noticeList .btn_area .more a{display:block;height:40px;color:#fff;text-align:center;font-weight:bold;line-height:40px;background:#b7b7b7}
#noticeList .btn_area .more a span{display:inline-block;padding-right:20px;background:url(../images/bu-more2.png) right 18px no-repeat;background-size:auto 7px}

/* #contView */
#noticeView{padding:20px 17px;background:#fff}
#noticeView #viewTit{padding-bottom:15px;border-bottom:2px solid #e5e5e5}
#noticeView #viewTit:after{display:block;content:'';clear:both}
#noticeView #viewTit h2{display:block;position:relative;font-size:16px;font-weight:bold}
#noticeView #viewTit span{display:inline-block}
#noticeView #viewTit .category{float:left;position:relative;top:0px;width:30px;height:19px;background-size:auto 100%;background-repeat:no-repeat}
#noticeView #viewTit .text{float:left;width:610px;line-height:20px}
#noticeView #viewTit .date{float:right;width:45px;color:#aeaeae;font-size:14px;line-height:22px;text-align:right}
#noticeView #viewCont{padding:15px 0;font-size:16px;line-height:26px}
#noticeView #viewCont i{font-style:italic}
#noticeView #viewCont b{font-weight:bold}
#noticeView #viewCont a{color:#064ae4;font-size:16px;text-decoration:underline;font-weight:bold;line-height:24px}
#noticeView #viewCont div{padding-bottom:32px}
#noticeView #viewCont ul{list-style:disc;padding-left:50px}
#noticeView #viewCont ol{list-style:decimal;padding-left:55px}
#noticeView #viewCont strong{font-weight:bold}
#noticeView #viewCont .text-large1{font-size:25px;line-height:25px;font-weight:bold}
#noticeView #viewCont .text-large2{font-size:30px;line-height:30px;font-weight:bold}
#noticeView #viewCont .text-large3{font-size:35px;line-height:35px;font-weight:bold}
#noticeView #viewCont .text-large4{font-size:40px;line-height:40px;font-weight:bold}
#noticeView #viewCont .text-center{display:block;text-align:center}
#noticeView #viewCont .text-right{display:block;text-align:right}
#noticeView .btn-type1{position:fixed;bottom:30px}
#noticeView .btn-list{left:17px}
#noticeView .btn-top{display:none;right:17px}

/* noticeEmpty */
#noticeEmpty .msg_empty{position:fixed;left:0;top:50%;width:100%;height:134px;margin-top:-67px;background:url(../images/icon-attention.png) center top no-repeat;background-size:88px auto}
#noticeEmpty .msg_empty .msg{padding-top:130px;font-size:20px;text-align:center;font-weight:bold}



/** Layout - portrait(default * 1.7) **/
#fWrap.portrait,
#fWrap.portrait a{font-size:22px}
#fWrap.portrait{margin-top:0 !important}

/* common */
#fWrap.portrait .notice_list li{padding:17px}
#fWrap.portrait .notice_list li a{padding-left:46px}
#fWrap.portrait .notice_list .category{width:34px;height:33px;margin-top:-18px;background-size:34px auto}
#fWrap.portrait .notice_list .date{float:right;min-width:57px;height:30px;padding-right:22px;font-size:15px;line-height:31px;background:url(../images/bu-list.png) right 7px no-repeat;background-size:auto 17px}
#fWrap.portrait .notice_list .text{width:520px;height:32px;line-height:32px}
#fWrap.portrait .btn-type1{vertical-align:middle;display:inline-block;border:1px solid #969696;border-radius:3px;box-shadow:0 1px 1px #555;font-size:22px;font-weight:bold;text-align:center;letter-spacing:-1px;opacity:0.8}
#fWrap.portrait .btn-type1.btn-top{min-width:32px;height:36px;padding:41px 17px 0 17px;background:#e6e6e6 url(../images/bu-top.png) center 17px no-repeat;background-size:24px auto}
#fWrap.portrait .btn-type1.btn-list{min-width:47px;height:77px;padding:0px 17px 0 33px;line-height:3.5;background:#e6e6e6 url(../images/bu-list2.png) 13px 25px no-repeat;background-size:16px auto}

/* #main */
#fWrap.portrait #main #notice{padding-bottom:7px}
#fWrap.portrait #main #notice h2{padding:13px 0;margin-bottom:14px;font-weight:bold}
#fWrap.portrait #main #notice .btn_more{position:absolute;top:22px;padding:0 20px 0 25px}
#fWrap.portrait #main #notice .btn_more span{height:42px;padding-right:20px;line-height:43px;background-position:right 50%}

/* #noticeList */
#fWrap.portrait #noticeList .btn_area{padding:20px 0 15px 0}
#fWrap.portrait #noticeList .btn_area .more a{height:70px;line-height:70px}
#fWrap.portrait #noticeList .btn_area .more a span{padding-right:30px;background:url(../images/bu-more2.png) right 30px no-repeat;background-size:auto 11px}
#fWrap.portrait #noticeList .btn_area .btn-top{position:fixed;bottom:30px;right:20px}

/* #contView */
#fWrap.portrait #noticeView #viewTit{padding:15px 0;border-bottom:2px solid #e5e5e5}
#fWrap.portrait #noticeView #viewTit h2{display:block;position:relative;font-size:24px}
#fWrap.portrait #noticeView #viewTit span{display:inline-block}
#fWrap.portrait #noticeView #viewTit .category{float:left;position:relative;top:0px;width:51px;height:32px}
#fWrap.portrait #noticeView #viewTit .text{width:575px;line-height:30px}
#fWrap.portrait #noticeView #viewTit .date{width:45px;font-size:17px;line-height:31px}
#fWrap.portrait #noticeView #viewCont{padding:27px 0;font-size:18px;line-height:32px}
#fWrap.portrait #noticeView #viewCont a{font-size:22px;line-height:40px}
#fWrap.portrait #noticeView #viewCont div{padding-bottom:40px}
#fWrap.portrait #noticeView #viewCont ul{list-style:disc;padding-left:70px}
#fWrap.portrait #noticeView #viewCont ol{list-style:decimal;padding-left:80px}
#fWrap.portrait #noticeView #viewCont strong{font-weight:bold}
#fWrap.portrait #noticeView #viewCont .text-large1{font-size:25px;line-height:25px;font-weight:bold}
#fWrap.portrait #noticeView #viewCont .text-large2{font-size:30px;line-height:30px;font-weight:bold}
#fWrap.portrait #noticeView #viewCont .text-large3{font-size:35px;line-height:35px;font-weight:bold}
#fWrap.portrait #noticeView #viewCont .text-large4{font-size:40px;line-height:40px;font-weight:bold}
#fWrap.portrait #noticeView #viewCont .text-center{display:block;text-align:center}
#fWrap.portrait #noticeView #viewCont .text-right{display:block;text-align:right}
#fWrap.portrait #noticeView .btn-type1{position:fixed;bottom:30px}
#fWrap.portrait #noticeView .btn-list{left:17px}
#fWrap.portrait #noticeView .btn-top{right:17px}

/* noticeEmpty */
#fWrap.portrait #noticeEmpty .msg_empty{height:240px;margin-top:-120px;background-size:157px auto}
#fWrap.portrait #noticeEmpty .msg_empty .msg{padding-top:212px;font-size:30px}